# Python environment
venv/
__pycache__/
*.pyc

# Aether specific
*.aether              
stego_storage/*.png   
!stego_storage/.gitkeep 

# Build & OS
target/
build/
dist/
.DS_Store
Thumbs.db

# Notebooks & Logs
.ipynb_checkpoints/
*.log